/*=========Computer==============*/

@media screen and (min-width: 1600px){

    .container{
        max-width: 1200px;
    }
    .header a{
        height: 60px;
        padding: 0px 10px 0px 10px;
    }
    .head{
        font-size: 21px;
    }
    .tem img{
        margin-top: 6px;
        width: 50px;
    }
    .number{
        line-height: 60px; 
    }
    .number img{
        margin-right: 5px;
        width: 15px;
    }
    nav a {
            height: 60px;
            line-height: 60px;
    }
    .main_inner h1, h2{
        font-size: 90px;
    } 

    .main_inner p{
        margin-top: 20px;
        font-size: 40px;
    }
    
    
    #selection-2{
        background: url(../img/skill.jpg) no-repeat center / cover;
        /*background-attachment: fixed;*/
        height: 100vh;
        position: relative;
        padding-bottom: 1200px;
    }
    .fly_square_header{
        width: 40%;
    }

    .fly_square{
        font-size: 22px;
    }

    .fly_square_logo{
        margin: 0 auto;
    }
    .title, .title-1{
        font-size: 70px;
    }

    .title p{
        font-size: 45px;
    }
    .main_portfolio{
        padding-top: 100px;
        max-width: 1000px;
        margin: auto;        
    }

}

@media screen and (min-width: 1400px){
    .container{
        max-width: 1000px;
    }
}
    
@media screen and (min-width: 1200px){
    .container{
        max-width: 900px;
    }
}


/*==============Menu computer leave===================*/

@media screen and (min-width: 1000px){
    .burger-menu{
        display: none;
    }    
    .container{
        max-width: 900px;
    }
}


/*=========The tablet mini==============*/

@media screen and (max-width: 1000px){
    .header{
        display: none;
    }
    .main_inner{
        margin-left: 0px;
    }  
    .main_portfolio{
        padding-top: 100px;
        max-width: 730px; 
    }
    .title, .title-1{
        font-size: 35px;
    }
    .title p{
        font-size: 34px;
        margin-top: 20px;
    }
    #selection-1{
        background-position: 0px 0px; /*смещает задний фон*/
    }
}

@media screen and (max-width: 1045px){
    .fly_square_logo{
        display: none;
    }
    .left_contact{
        padding-right: 0px;
    }

    .right_contact{
        padding-left: 0px;
    }
    
}


/*=========myPhone goriz==============*/

@media screen and (max-width: 740px){

    .main_inner{
        margin-left: 0px;
    } 
    .main_inner h1, h2{
        font-size: 50px;
    } 
    #selection-1{
        background-position: 0px 0px; /*смещает задний фон*/
    }
    .main_inner p{
        margin-top: 30px;
        font-size: 20px;
    } 
    #selection-2{
        padding-bottom: 1100px;
    }
    .title{
        font-size: 35px;
    }
    .title p{
        font-size: 20px;
        margin-top: 20px;
    }
    .under_line{
        height: 5px;
        width: 100px;
    }
    .fly_square_header{
        width: 97%;
    }
    .fly_square_me{
        padding-top: 20px;
    }
    .fly_square{
        padding: 15px;
        font-size: 16px;
        line-height: 30px;
    }
    .fly_square_logo{
        margin: 0 auto;
        width: 28%;
    }
    .main_portfolio{
        padding-top: 100px;
        max-width: 650px; 
    }
    .sl_zag{
        font-size: 20px;
    }
    .sl_desc{
        font-size: 13px;
    }

    .contact_header{
        width: 97%;
    }



}






/*=========myPhone vertical==============*/
@media screen and (max-width: 425px){

    .main_inner{
        margin-left: 0px;  
        margin-top: 140px;
    } 
    .main_inner h1, h2{
        font-size: 50px;
    } 
    #selection-1{
        background-position: 0px 0px; /*смещает задний фон*/
    }
    .main_inner p{
        margin-top: 30px;
        font-size: 20px;
    } 
    #selection-2{
        padding-bottom: 1100px;
    }
    .fly_square_me{
        font-size: 35px;
    }
    .fly_square_text{
        padding: 2px;
        margin-top: 32px;
    }
    .title{
        font-size: 35px;
        padding: 0px 40px 0px 40px;
    }
    .title p{
        font-size: 0px;
        margin-top: 0px;
    }
    .under_line{
        height: 5px;
        width: 100px;
    }
    .fly_square_header{
        width: 97%;
    }
    .fly_square{
        padding: 15px;
        font-size: 16px;
        line-height: 30px;
    }
    .fly_square_logo{
        margin: 0 auto;
        width: 28%;
    }
    .main_portfolio{
        padding-top: 80px;  
    }
    .sl_zag{
        font-size: 20px;
    }
    .sl_desc{
        font-size: 13px;
    }
    .contact_header{
        width: 97%;
    }
    .adress{
        width: 70%;
    }
    #selection-1{
    background-position: -200px 0px;
    }


}


@media screen and (max-width: 320px){
    #selection-1{
        background-position: 0px 0px; /*смещает задний фон*/
    }
    .title{
        font-size: 30px;
        padding: 0px 0px 0px 0px;
    }
    .fly_square_me{
        font-size: 30px;
    }
    .fly_square_header{
        width: 97%;
    }
    .fly_square{
        padding: 15px;
        font-size: 14px;
        line-height: 30px;
    }
    .fly_square_logo{
        margin: 0 auto;
        width: 28%;
    }
    .contact_header{
        width: 97%;
    }
    .adress{
        width: 80%;
    }
    .fly_square_contact img{
        width: 40px;
        height: auto;
    }
    .title-1{
        font-size: 30px;
    }
    #selection-1{
        background-position: -200px 0px;
    }
}























