*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial;
    outline: none;  
}


a{
    text-decoration: none;
    list-style: none;
}

ul, li{
    list-style: none;
}

*::selection{
    background: #006521;
}

/*=================Menu==========================*/


.header_top{
    background: #3e3e3e;
    position: fixed; 
    width: 100%;
    z-index: 100;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
    
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    
}

.header ul{
    line-height: 30px;
}

.header li{
    display: inline-block;
    
    border: 2px solid rgba(0,0,0,0); 
    cursor: pointer;
}

.header a{
    height: 50px;
    width: 100%;
    padding: 0px 8px 0px 8px;
    
}

li:hover{
    border-color: #00D646;
}

.head{
    color: #939DAB;
    font-size: 14px;
}

.head , li{
    transition: 0.4s all; 
}
.tem{
    position: absolute;
    left: 0;
}

.tem img{
    margin-top: 6px;
    width: 40px;
}

.number{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 50px; 
}

.number img{
    margin-right: 5px;
    width: 15px;
}

    
nav a {
        text-decoration: none;
        width: 100%;
        display: inline-block;
        height: 50px;
        line-height: 50px;
    }





/*==============Mobile menu==============*/




.burger-menu__link a{
    transition: 0.4s;
}

.burger-menu__button{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 60px;
    height: 60px;
    background-color: #1a7e3b;
    transition: 0.4s;
}

/*.burger-menu__button:hover .burger-menu__lines{
    filter: brightness(0.7);
}*/

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before{
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: #e8e8e8;    
}

.burger-menu__lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu__lines::before{
    content: '';
    top: -12px;
}

.burger-menu__lines::after{
    content: '';
    top: 12px;
}

.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines{
    background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before{
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after{
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu__nav{
    padding-top: 100px;
    position: fixed;
    display: flex;
    z-index: 20;
    flex-flow: column;
    height: 100%;
    background: rgba(26, 126, 59, 0.90);
    overflow-y: auto;
    left: -100%;
    transition: 0.5s;
   
}

.burger-menu_active .burger-menu__nav{
    left: 0;
}

.burger-menu__link{
    padding: 2px 20px 50px 20px;
    font-size: 27px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    color: #e8e8e8;
    margin-left: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.burger-menu__link:hover{
    color: #00D646; 
    border: 1px solid #00D646;
}

.burger-menu__overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu__overlay{
    display: block;
}





/*===============Main screen===============*/



#selection-1{
    background: url(../img/as2.jpg) no-repeat center / cover; 
    padding-bottom: 200px;
    background-position: 0px 20px; /*смещает задний фон*/
    background-attachment: fixed;
}

.main_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(35, 35, 36, 0.7);
	box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);*/
    width: 100%;
    height: 100vh;
    
}

.main_inner{
    color: #e8e8e8;
    margin-left: 600px;  
} 

.main_inner span{
    color: #00D646;
} 

.main_inner h1, h2{
    font-size: 80px;

} 

.main_inner p{
    margin-top: 20px;
    font-size: 30px;
} 



/*=================Fly Square=============*/


#selection-2{
    background: url(../img/skill.jpg) no-repeat center / cover;
    /*background-attachment: fixed;*/
    height: 100vh;
    position: relative;
    padding-bottom: 1300px;
}


.fly_square_header{
    text-align: center;
    width: 60%;
    background: #434343;
    position: absolute;
    top: -15%;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid #00D646;
}

.fly_square{
    padding: 40px;
    color: #e8e8e8;
}

.fly_square_me{
    font-size: 45px;
    font-weight: 700;
}

/*.fly_square_logo{
    margin: 0 auto;
    padding-top: 20px;
}*/


.fly_square_text{
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
}


.fly_square_button:hover{
    background-color: #00d646;
}

.fly_square_contacts{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
}

.fly_square_contact{
    display: inline-block;
    padding: 25px 10px 25px 10px;
} 

.fly_square_contact img:hover{
    background: #00d646;
    border-radius: 50px;
    transition: 0.4s all;
}

.left_contact{
    padding-right: 20px;
}

.right_contact{
    padding-left: 20px;
}



/*=================Skill=============*/

.skill_header{
    padding-top: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.title{
    color: #e8e8e8;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
}

.title p{
    font-size: 40px;
    font-weight: 400;
    margin-top: 30px;
}

.under_line{
    background: #00d646;
    height: 6px;
    width: 120px;
    margin: auto;
    margin-top: 10px;
}

.skill_lines{
    text-align: center;
    margin-top: 80px;
}

.skill_lines ul{
    
}

.skill_line{
    background: #00d646;
    height: 14px;
    margin-top: 45px;
    color: #939DAB;
    font-size: 15px;
}


.num_1{
    width: 90%;
    position: relative;
    
}
.num_1::before{
    content: "HTML";
    position: absolute;
    right: 104%;
}

.num_1::after{
    content: "90%";
    position: absolute;
    left: 105%;
}

.num_2{
    width: 80%;
    position: relative;
    
}
.num_2::before{
    content: "CSS";
    position: absolute;
    right: 104%;
}

.num_2::after{
    content: "80%";
    position: absolute;
    left: 105%;
}

.num_3{
    width: 50%;
    position: relative;
    
}
.num_3::before{
    content: "JS";
    position: absolute;
    right: 106%;
}

.num_3::after{
    content: "50%";
    position: absolute;
    left: 105%;
}

.num_4{
    width: 60%;
    position: relative;
    
}
.num_4::before{
    content: "JQuery";
    position: absolute;
    right: 105%;
}

.num_4::after{
    content: "60%";
    position: absolute;
    left: 105%;
}

.num_5{
    width: 75%;
    position: relative;
    
}
.num_5::before{
    content: "Photoshop";
    position: absolute;
    right: 105%;
}

.num_5::after{
    content: "75%";
    position: absolute;
    left: 105%;
}

.num_6{
    width: 70%;
    position: relative;
    
}
.num_6::before{
    content: "Slick";
    position: absolute;
    right: 105%;
}

.num_6::after{
    content: "70%";
    position: absolute;
    left: 105%;
}



/*============Portfolio=====================*/


#selection-3{
    background: #262626;
    padding-bottom: 400px;
}

.main_portfolio{
    padding-top: 100px;
    max-width: 900px;
    margin: auto; 
}


.sl{
    margin: 65px 10px 2px 10px;
    border: 2px solid #00d646;
}

.sl_slide{
    position: relative;
}

img{
    max-width: 100%;
    height: auto;
}

.sl_text{
    color: #e8e8e8;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgba(64, 64, 64, 0.63);
    padding: 10px;
}

.sl_zag{
    font-size: 28px;
    font-weight: 400;
}

.sl_desc{
    font-size: 16px;
    font-weight: 100;
}

.slick-dots{
    margin-top: 15px;
}

.slick-dots li button{
    border: 1px solid #777;
    border-radius: 50%;
    -webkit-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
}

.slick-dots li button::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #777;
    opacity: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
    -webkit-transition: backgrund .3s;
    -o-transition: backgrund .3s;
    transition: backgrund .3s;
    
}

.slick-dots li button:hover,
.slick-dots li.slick-active button{
    background: #00d646;
}

.slick-dots li button:hover::before
.slick-dots li.slick-active button::before{
    background: #fff;
}


/*==============Contact================*/

#selection-4{
    background: url(../img/contact-1.jpg) no-repeat center / cover;
    padding-bottom: 700px;
    background-attachment: fixed;
    position: relative;
}

.contact_header{
    text-align: center;
    width: 60%;
    background: #434343;
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid #00D646;
    border-bottom: none;
}

.main_contacts{
    padding-top: 50px;
}

.title-1{
    font-size: 45px;
    font-weight: 700;
    color: #e8e8e8;
}

.title-1 p{
    font-size: 25px;
    font-weight: 100;
    color: #e8e8e8;
    padding-top: 60px;
}

.contacts{
    padding-top: 50px;
    text-align: center;
}

.adress{
    background: #363636;
    border: 2px solid #00d646;
    border-radius: 5px;
    padding: 18px 20px;
    line-height: 18px;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 40%;
    color: #e8e8e8;
}

.button{
    color: #e8e8e8;
    padding: 20px;
    background: rgba(26, 126, 59, 0.90);
    cursor: pointer;
    transition: 0.4s all;
}

.button:hover{
    background: rgba(16, 72, 34, 0.9);
}





/*==============foooteeeeeerrrr================*/



#footer{
    background: #262626;
    padding-bottom: 40px;
}


.lt{
    padding-right: 0px;
}

.rt{
    padding-left: 0px;
}

.footer_text{
    text-align: center;
    color: #e8e8e8;
}
























